<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue3</title>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background: blue;
        }

        .two{
            background: yellow;
        }

        .three{
            background: red;
        }

        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
       <p>{{greeting}}</p>
       <input @keyup.enter="greet(greeting + '!!!')" type="text" v-model="greeting">

       <hr> 
       <button @click="toggleBox()">Toggle Box</button>
       <div v-if="isVisibleBox" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({
            data(){
                return{
                    greeting: 'Hello Vue3, my old friend',
                    isVisibleBox: false,
                }
            },
            methods:{
                toggleBox(){
                    this.isVisibleBox = !this.isVisibleBox
                },
                greet(greeting){
                    console.log(greeting);
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>