<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue3</title>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background: blue;
        }

        .two{
            background: yellow;
        }

        .three{
            background: red;
        }

        [v-cloak]{
            display: none;
        }

        input{
            display: block;
            margin: 0.5rem;
        }

        .login-button{
            margin: 0.5rem;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
       <login-form /></login-form>
       <p>{{greeting}}</p>
       <input @keyup.enter="greet(greeting + '!!!')" type="text" v-model="greeting">

       <hr> 
       <button @click="toggleBox()">Toggle Box</button>
       <div v-if="isVisibleBox" class="box"></div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({
            data(){
                return{
                    greeting: 'Hello Vue3, my old friend',
                    isVisibleBox: false,
                }
            },
            methods:{
                toggleBox(){
                    this.isVisibleBox = !this.isVisibleBox
                },
                greet(greeting){
                    console.log(greeting);
                }
            }
        })
        app.component('login-form', {
            template: `
                <form @submit.prevent="submitForm()">
                    <h1>{{title}}</h1>
                    <custom-input 
                        v-for="input in inputs"
                        :key="input.type"
                        v-model="input.value" 
                        :inputType="input.type" 
                        :label="input.label" 
                    />
                    <button class="login-button">log in</button>
                </form>
            `,
            components:['custom-input'],
            data(){
                return{
                    title:'Login Form',
                    inputs:[
                        {
                            label: 'Email',
                            value: '',
                            type: 'email'
                        },
                        {
                            label: 'Password',
                            value: '',
                            type: 'password'
                        }
                    ]
                }
            },
            methods:{
                submitForm(){
                    console.log(this.findInputItem('email'), this.findInputItem('password'))
                },
                findInputItem(inputType){
                    return this.inputs.find(input => input.type===inputType).value
                }
            }
        })

        app.component('custom-input', {
            template:`
                <span>{{label}}</span>
                <input :type="inputType" v-model="inputValue" />
            `,
            props:{
                label:{
                    type: String,
                    default: ''
                },
                inputType:{
                    type: String,
                    default: ''
                },
                modelValue:{
                    type: String,
                    default: ''
                }
            },
            computed:{
                inputValue:{
                    get(){
                        return this.modelValue
                    },
                    set(value){
                        this.$emit('update:modelValue', value)
                    }
                }
            },
        })

        app.mount('#app')
    </script>
</body>
</html>